<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unipiloto.edu.co">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestiónTransporteCarga">
        <activity
            android:name=".AsignacionConductor"
            android:exported="true" />
        <activity
            android:name=".AgregarVehiculoPropietario"
            android:exported="true" />
        <activity
            android:name=".AceptacionSolicitudesPropietario"
            android:exported="true" />
        <activity
            android:name=".InicioPropietario"
            android:exported="true" />
        <activity
            android:name=".SolicituTransporteCliente"
            android:exported="true" />
        <activity
            android:name=".SolicitudTransporteCliente"
            android:exported="true" />
        <activity
            android:name=".InicioCliente"
            android:exported="true" />
        <activity
            android:name=".CrearUsuario"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>